# Sistem Rekomendasi Video Youtube

In [23]:
import pandas as pd

In [24]:
# Source dataset https://www.kaggle.com/datasets/rsrishav/youtube-trending-video-dataset
file_path = "US_youtube_trending_data.csv"
df = pd.read_csv(file_path, encoding="ISO-8859-1")
df.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS â¶ http://bit.ly/Subscr...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands â â...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL â http://bit.ly/subscribe-x...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [25]:
# cek data / Examining Data
print("Rows : ", df.shape[0])
print("Columns : ", df.shape[1])
print("Columns Features : ", df.columns.tolist())
print("Counf of Non Values : ", df.isnull().sum().values.sum())

Rows :  260387
Columns :  16
Columns Features :  ['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle', 'categoryId', 'trending_date', 'tags', 'view_count', 'likes', 'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'description']
Counf of Non Values :  4501

In [26]:
#  Check data with null value
df.isnull().sum()

video_id                0
title                   0
publishedAt             0
channelId               0
channelTitle            0
categoryId              0
trending_date           0
tags                    0
view_count              0
likes                   0
dislikes                0
comment_count           0
thumbnail_link          0
comments_disabled       0
ratings_disabled        0
description          4501
dtype: int64

In [27]:
# Cek yang kosong pada kolom description
df.loc[df['description'].isnull()].head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
223,NSuaUok-wTY,[1147] Locksmith Says My Videos Are BS... Lose...,2020-08-12T13:00:12Z,UCm9K6rby98W8JigLoZOh6FQ,LockPickingLawyer,27,2020-08-13T00:00:00Z,Lock|picking,422963,62939,168,7304,https://i.ytimg.com/vi/NSuaUok-wTY/default.jpg,False,False,NaN
249,NYXABBpPJss,When you get on the grill for your friends Bir...,2020-08-12T04:36:57Z,UCI8hY4ummWDZgFSjxU_HFNQ,Jeremiah Phillips,23,2020-08-13T00:00:00Z,[None],193157,9057,148,666,https://i.ytimg.com/vi/NYXABBpPJss/default.jpg,False,False,NaN
446,NSuaUok-wTY,[1147] Locksmith Says My Videos Are BS... Lose...,2020-08-12T13:00:12Z,UCm9K6rby98W8JigLoZOh6FQ,LockPickingLawyer,27,2020-08-14T00:00:00Z,Lock|picking,511773,69610,214,7837,https://i.ytimg.com/vi/NSuaUok-wTY/default.jpg,False,False,NaN
475,NYXABBpPJss,When you get on the grill for your friends Bir...,2020-08-12T04:36:57Z,UCI8hY4ummWDZgFSjxU_HFNQ,Jeremiah Phillips,23,2020-08-14T00:00:00Z,[None],219696,9829,158,700,https://i.ytimg.com/vi/NYXABBpPJss/default.jpg,False,False,NaN
669,NSuaUok-wTY,[1147] Locksmith Says My Videos Are BS... Lose...,2020-08-12T13:00:12Z,UCm9K6rby98W8JigLoZOh6FQ,LockPickingLawyer,27,2020-08-15T00:00:00Z,Lock|picking,651306,85757,251,9186,https://i.ytimg.com/vi/NSuaUok-wTY/default.jpg,False,False,NaN

In [28]:
# hapus data yg NA pada kolom description
df = df.dropna(subset='description')
print("Rows : ", df.shape[0])

Rows :  255886

In [29]:
# hapus data yg mempunyai duplikasi pada video_id
df.drop_duplicates(subset='video_id', keep='last', inplace=True)
print("Rows : ", df.shape[0])

Rows :  45168

In [30]:
# reset index supaya muncul index
df = df.reset_index()

In [31]:
# setelah dilakukan reset maka muncul indexing kolom nya
df.head()

,index,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,172,cAtazIk1IYw,How To Make a Curried Egg Sandwich,2020-08-07T18:30:06Z,UCR4s1DE9J4DHzZYXMltSMAg,HowToBasic,26,2020-08-12T00:00:00Z,how to make a curried egg sandwich|curried egg...,1238677,104736,3736,13876,https://i.ytimg.com/vi/cAtazIk1IYw/default.jpg,False,False,Today I show you how to make a curried egg san...
1,173,NYFHnIiA8gE,Cake Rescue Fixing Viral Cake Fails | How To C...,2020-08-07T09:30:04Z,UCsP7Bpw36J666Fct5M8u-ZA,How To Cook That,24,2020-08-12T00:00:00Z,cake rescue|caek fail|viral cake fails|funny c...,938198,44088,565,2409,https://i.ytimg.com/vi/NYFHnIiA8gE/default.jpg,False,False,"Cake Rescue: viral cake fails, how to rescue ..."
2,174,czwejgoH3zs,"Son, lemme teach you something new",2020-08-06T19:47:12Z,UCw03U5DZGLqvv5elJvXvR0Q,Bread Boys,24,2020-08-12T00:00:00Z,[None],1722152,169501,927,7263,https://i.ytimg.com/vi/czwejgoH3zs/default.jpg,False,False,badum tss *funny haha noises*YOU CAN FIND US H...
3,175,dO6YihaqtaQ,Trump takes executive action to address econom...,2020-08-09T01:35:42Z,UCBi2mrWuNuyYy4gbM6fU18Q,ABC News,25,2020-08-12T00:00:00Z,president|trump|donald|executive|orders|stimul...,1090847,10922,2517,9876,https://i.ytimg.com/vi/dO6YihaqtaQ/default.jpg,False,False,The presidentâs order includes unemployment ...
4,176,sSjtGqRXQ9Y,JUDAS AND THE BLACK MESSIAH - Official Trailer,2020-08-06T23:01:42Z,UCjmJDM5pRKbUlVIzDYYWb6g,Warner Bros. Pictures,24,2020-08-12T00:00:00Z,warner bros|warner brothers|wb|fred hampton|wi...,971704,23311,1987,3240,https://i.ytimg.com/vi/sSjtGqRXQ9Y/default.jpg,False,False,Watch the trailer for Judas and the Black Mess...

## Membuat Sistem Rekomendasi bedasarkan deskripsi

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
df = df[:2000]

#inisialisasi vectorizer
vectorize = TfidfVectorizer()

#ekstraksi fitur dari deskripsi video
fitur_deskripsi = vectorize.fit_transform(df['description'])
fitur_deskripsi

<2000x39064 sparse matrix of type '<class 'numpy.float64'>'
	with 180287 stored elements in Compressed Sparse Row format>

In [33]:
# Untuk memeriksa kesamaan isi data
from sklearn.metrics.pairwise import cosine_similarity

description_in_matrix = pd.DataFrame(cosine_similarity(fitur_deskripsi))
description_in_matrix

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,1.000000,0.110017,0.028447,0.003318,0.042852,0.020378,0.037753,0.031860,0.072563,0.026454,...,0.048186,0.070441,0.032869,0.016492,0.030556,0.061295,0.033524,0.029472,0.066034,0.033368
1,0.110017,1.000000,0.041372,0.005399,0.034967,0.038796,0.058308,0.039637,0.091248,0.042261,...,0.089855,0.096773,0.030694,0.041976,0.028351,0.064076,0.044682,0.038932,0.099787,0.046290
2,0.028447,0.041372,1.000000,0.000000,0.008232,0.019771,0.068437,0.047693,0.083815,0.029771,...,0.016435,0.057654,0.024476,0.007507,0.026596,0.034691,0.064227,0.019118,0.042418,0.020554
3,0.003318,0.005399,0.000000,1.000000,0.035557,0.004166,0.010664,0.001125,0.010707,0.000858,...,0.010415,0.003541,0.000000,0.011984,0.002313,0.009273,0.000000,0.007443,0.002971,0.012099
4,0.042852,0.034967,0.008232,0.035557,1.000000,0.034731,0.055744,0.025162,0.070464,0.017793,...,0.044838,0.043639,0.007466,0.066040,0.020153,0.061853,0.005541,0.066470,0.019991,0.091081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.061295,0.064076,0.034691,0.009273,0.061853,0.023093,0.055285,0.030747,0.058803,0.020051,...,0.057376,0.051730,0.028356,0.034112,0.022740,1.000000,0.023888,0.024260,0.168726,0.025964
1996,0.033524,0.044682,0.064227,0.000000,0.005541,0.022346,0.027763,0.030467,0.042779,0.020747,...,0.013277,0.054619,0.018242,0.008022,0.017656,0.023888,1.000000,0.003709,0.036996,0.004313
1997,0.029472,0.038932,0.019118,0.007443,0.066470,0.023801,0.043862,0.014279,0.034967,0.013129,...,0.025240,0.040736,0.002623,0.016995,0.027529,0.024260,0.003709,1.000000,0.022236,0.583054
1998,0.066034,0.099787,0.042418,0.002971,0.019991,0.029981,0.071158,0.039785,0.069700,0.021489,...,0.090373,0.106031,0.046846,0.026034,0.158597,0.168726,0.036996,0.022236,1.000000,0.024312
1999,0.033368,0.046290,0.020554,0.012099,0.091081,0.026708,0.060516,0.008450,0.061396,0.016960,...,0.041270,0.036789,0.006208,0.024240,0.037644,0.025964,0.004313,0.583054,0.024312,1.000000

In [34]:
# 
description_in_matrix.columns = description_in_matrix.T.index
description_in_matrix['description'] = description_in_matrix.T.index
description_in_matrix = description_in_matrix.set_index('description')
description_in_matrix

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
description,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.110017,0.028447,0.003318,0.042852,0.020378,0.037753,0.031860,0.072563,0.026454,...,0.048186,0.070441,0.032869,0.016492,0.030556,0.061295,0.033524,0.029472,0.066034,0.033368
1,0.110017,1.000000,0.041372,0.005399,0.034967,0.038796,0.058308,0.039637,0.091248,0.042261,...,0.089855,0.096773,0.030694,0.041976,0.028351,0.064076,0.044682,0.038932,0.099787,0.046290
2,0.028447,0.041372,1.000000,0.000000,0.008232,0.019771,0.068437,0.047693,0.083815,0.029771,...,0.016435,0.057654,0.024476,0.007507,0.026596,0.034691,0.064227,0.019118,0.042418,0.020554
3,0.003318,0.005399,0.000000,1.000000,0.035557,0.004166,0.010664,0.001125,0.010707,0.000858,...,0.010415,0.003541,0.000000,0.011984,0.002313,0.009273,0.000000,0.007443,0.002971,0.012099
4,0.042852,0.034967,0.008232,0.035557,1.000000,0.034731,0.055744,0.025162,0.070464,0.017793,...,0.044838,0.043639,0.007466,0.066040,0.020153,0.061853,0.005541,0.066470,0.019991,0.091081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.061295,0.064076,0.034691,0.009273,0.061853,0.023093,0.055285,0.030747,0.058803,0.020051,...,0.057376,0.051730,0.028356,0.034112,0.022740,1.000000,0.023888,0.024260,0.168726,0.025964
1996,0.033524,0.044682,0.064227,0.000000,0.005541,0.022346,0.027763,0.030467,0.042779,0.020747,...,0.013277,0.054619,0.018242,0.008022,0.017656,0.023888,1.000000,0.003709,0.036996,0.004313
1997,0.029472,0.038932,0.019118,0.007443,0.066470,0.023801,0.043862,0.014279,0.034967,0.013129,...,0.025240,0.040736,0.002623,0.016995,0.027529,0.024260,0.003709,1.000000,0.022236,0.583054
1998,0.066034,0.099787,0.042418,0.002971,0.019991,0.029981,0.071158,0.039785,0.069700,0.021489,...,0.090373,0.106031,0.046846,0.026034,0.158597,0.168726,0.036996,0.022236,1.000000,0.024312
1999,0.033368,0.046290,0.020554,0.012099,0.091081,0.026708,0.060516,0.008450,0.061396,0.016960,...,0.041270,0.036789,0.006208,0.024240,0.037644,0.025964,0.004313,0.583054,0.024312,1.000000

In [45]:
# coba disorting berdasarkan rekomendasi
top_10_recommended = list(description_in_matrix.loc[1995].sort_values(ascending=False).iloc[1:11].index)
top_10_recommended

[1916, 1917, 804, 1721, 778, 1770, 1998, 1765, 695, 1303]

In [46]:
# top_10_recommended_product = df.loc[df.index.isin(top_10_recommended), ['title']].drop_duplicates().set_index('index').loc[top_10_recommended]
top_10_recommended_product = df.loc[df.index.isin(top_10_recommended), ['title', 'description']]
top_10_recommended_product

,title,description
695,Who will Lionel Messi sign for and how much wi...,SUBSCRIBE âº http://bit.ly/SSFootballSubPREMI...
778,Why Did the Police Shoot Jacob Blake? | The Da...,Another look at systemic police violence and r...
804,Riley Performs Naya Rivera Tribute,Guest Host Lil Rel Howery welcomes Riley for a...
1303,We Cannot Kidnap & Reunite One Direction,After thousands of requests for James Corden t...
1721,Jimmy Kimmel's 2020 Emmys Mono-logue,Jimmy's opening monologue from the 2020 Primet...
1765,John Oliver Answers If He's Dedicating His Emm...,"After taking home his fifth Emmy win, the Last..."
1770,Jennifer Aniston Saves the Emmys!,Jimmy and Jennifer Aniston practice social dis...
1916,BTS: HOME,MusicalÂ guestÂ BTSÂ performsÂ HOMEÂ for their...
1917,"BTS, Jimmy Fallon and The Roots Sing Dynamite","Jimmy and The Roots join RM, Jin, SUGA, j-hope..."
1998,SNL Returns to 30 Rock,SNL returns to 30 Rockefeller Plaza in New Yor...

## Membuat Sistem Rekomendasi bedasarkan title

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
df = df[:2000]

#inisialisasi vectorizer
vectorize = TfidfVectorizer()

#ekstraksi fitur dari deskripsi video
fitur_title = vectorize.fit_transform(df['title'])
fitur_title

<2000x4863 sparse matrix of type '<class 'numpy.float64'>'
	with 15514 stored elements in Compressed Sparse Row format>

In [38]:
# Untuk memeriksa kesamaan isi data
from sklearn.metrics.pairwise import cosine_similarity

tite_in_matrix = pd.DataFrame(cosine_similarity(fitur_title))
tite_in_matrix

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,1.000000,0.079382,0.000000,0.032321,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.045318,0.000000
1,0.079382,1.000000,0.048466,0.019434,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.027250,0.000000
2,0.000000,0.048466,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,0.032321,0.019434,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.033774,0.000000
4,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.030385,0.055709,0.0,0.00000,...,0.031611,0.0,0.0,0.0,0.026287,0.0,0.023891,0.032478,0.000000,0.032478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
1996,0.000000,0.000000,0.000000,0.000000,0.023891,0.0,0.000000,0.043770,0.0,0.00000,...,0.022944,0.0,0.0,0.0,0.020654,0.0,1.000000,0.023573,0.000000,0.023573
1997,0.000000,0.000000,0.000000,0.000000,0.032478,0.0,0.000000,0.000000,0.0,0.12006,...,0.031191,0.0,0.0,0.0,0.084149,0.0,0.023573,1.000000,0.000000,0.703524
1998,0.045318,0.027250,0.000000,0.033774,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,0.000000
1999,0.000000,0.000000,0.000000,0.000000,0.032478,0.0,0.000000,0.000000,0.0,0.12006,...,0.031191,0.0,0.0,0.0,0.084149,0.0,0.023573,0.703524,0.000000,1.000000

In [39]:
tite_in_matrix.columns = tite_in_matrix.index
tite_in_matrix['title'] = tite_in_matrix.index
tite_in_matrix = tite_in_matrix.set_index('title')

tite_in_matrix

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
title,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.079382,0.000000,0.032321,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.045318,0.000000
1,0.079382,1.000000,0.048466,0.019434,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.027250,0.000000
2,0.000000,0.048466,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
3,0.032321,0.019434,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.033774,0.000000
4,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.030385,0.055709,0.0,0.00000,...,0.031611,0.0,0.0,0.0,0.026287,0.0,0.023891,0.032478,0.000000,0.032478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
1996,0.000000,0.000000,0.000000,0.000000,0.023891,0.0,0.000000,0.043770,0.0,0.00000,...,0.022944,0.0,0.0,0.0,0.020654,0.0,1.000000,0.023573,0.000000,0.023573
1997,0.000000,0.000000,0.000000,0.000000,0.032478,0.0,0.000000,0.000000,0.0,0.12006,...,0.031191,0.0,0.0,0.0,0.084149,0.0,0.023573,1.000000,0.000000,0.703524
1998,0.045318,0.027250,0.000000,0.033774,0.000000,0.0,0.000000,0.000000,0.0,0.00000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,1.000000,0.000000
1999,0.000000,0.000000,0.000000,0.000000,0.032478,0.0,0.000000,0.000000,0.0,0.12006,...,0.031191,0.0,0.0,0.0,0.084149,0.0,0.023573,0.703524,0.000000,1.000000

In [40]:
# coba disorting berdasarkan rekomendasi
tite_in_matrix.loc[2].sort_values(ascending=False)

2       1.000000
1728    0.261572
1644    0.241678
466     0.189867
1481    0.155006
          ...
683     0.000000
682     0.000000
681     0.000000
680     0.000000
1999    0.000000
Name: 2, Length: 2000, dtype: float64

In [41]:
item_1995 = set(tite_in_matrix.loc[1995].iloc[tite_in_matrix.loc[1995].to_numpy().nonzero()].index)

In [42]:
item_4 = set(tite_in_matrix.loc[4].iloc[tite_in_matrix.loc[4].to_numpy().nonzero()].index)

In [43]:
top_10 = list(tite_in_matrix.loc[4].sort_values(ascending=False).iloc[1:11].index)
top_10

[952, 780, 537, 578, 603, 1337, 663, 1272, 618, 1601]

In [44]:
top_10_recommended_videos = df.loc[df.index.isin(top_10), ['title', 'description']]
top_10_recommended_videos

,title,description
537,Call of Duty Black Ops: Cold War - Official Te...,Activision has officially announced the next C...
578,Know Your History | Official Call of DutyÂ®: ...,ðºð½ð¾ð ðð¾ðð ð·ð¸ð...
603,The Batman - Official Trailer (My Thoughts),Another trailer for an anticipated DC movie. H...
618,The Batman Trailer REACTION,The Batman Trailer REACTION today! Beyond The ...
663,Ammonite - Official Trailer,"1840s England, acclaimed but overlooked fossil..."
780,Nas - Ultra Black (Official Video),Nas's new album King's Disease Available NOW!D...
952,a trailer,Still a bit more to do. See you again in a lit...
1272,Call of DutyÂ®: Black Ops Cold War - Multiplay...,Call of DutyÂ®: Black Ops Cold War Multiplayer...
1337,Dune Official Trailer,"Beyond fear, destiny awaits. Watch the trailer..."
1601,The Mandalorian | Season 2 Official Trailer | ...,The new season of The Mandalorian starts strea...